{% extends 'layouts/public.html.twig' %}

{% block content %}
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">
        {% if must_read is not empty %}
        <!-- Start Popular News [layout A+D]  -->
        <div class="zm-section bg-white ptb-70">
            <div class="container">
                <div class="row mb-40">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <div class="section-title">
                            <h2 class="h6 header-color inline-block uppercase">Must read</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for item in must_read %}
                        {% if loop.first %}
                            <div class="col-md-5 col-sm-12 col-xs-12 col-lg-6">
                                <div class="zm-posts">
                                    <article class="zm-post-lay-a">
                                        <div class="zm-post-thumb">
                                            <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">
                                                <img src="{{ asset('images/news/' ~ item.image) }}" alt="{{ item.title }}">
                                            </a>
                                        </div>
                                        <div class="zm-post-dis">
                                            <div class="zm-post-header">
                                                <div class="zm-category">
                                                    <a href="{{ path('news_category_page', {'category': item.getIdCategory().getId() ~ '-' ~item.getIdCategory().getAlias() }) }}" class="bg-cat-5 cat-btn">
                                                        {{ item.getIdCategory().getName() }}
                                                    </a>
                                                </div>
                                                <h2 class="zm-post-title h2">
                                                    <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">{{ item.title }}</a>
                                                </h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta">Views: {{ item.views }}</li>
                                                        <li class="s-meta">{{ item.getDatePublish()|date("d.m.Y") }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="zm-post-content">
                                                <p>{{ item.description }}</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        {% else %}
                            {% if loop.index == 2 %}
                                <div class="col-md-7 col-sm-12 col-xs-12 col-lg-6">
                                <div class="zm-posts">
                            {% endif %}

                            <!-- Start single post layout D -->
                            <article class="zm-post-lay-d clearfix">
                                <div class="zm-post-thumb f-left">
                                    <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">
                                        <img src="{{ asset('images/news/' ~ item.image) }}" alt="{{ item.title }}">
                                    </a>
                                </div>
                                <div class="zm-post-dis f-right">
                                    <div class="zm-post-header">
                                        <div class="zm-category">
                                            <a href="{{ path('news_category_page', {'category': item.getIdCategory().getId() ~ '-' ~item.getIdCategory().getAlias() }) }}" class="bg-cat-5 cat-btn">
                                                {{ item.getIdCategory().getName() }}
                                            </a>
                                        </div>
                                        <h2 class="zm-post-title">
                                            <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">{{ item.title }}</a>
                                        </h2>
                                        <div class="zm-post-meta">
                                            <ul>
                                                <li class="s-meta">Views: {{ item.views }}</li>
                                                <li class="s-meta">{{ item.getDatePublish()|date("d.m.Y") }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- End single post layout D -->
                            {% if loop.last %}
                                    </div>
                                </div>
                            {% endif %}

                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Popular News [layout A+D]  -->
        {% endif %}

            <div class="zm-section bg-white pt-70 pb-40">
                <div class="container">
                    <div class="row">
                        <!-- Start left side -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 columns">
                            <div class="row mb-40">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="section-title">
                                        <h2 class="h6 header-color inline-block uppercase">Latest News</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="zm-posts">

                                        {% for item in news %}
                                            <article class="zm-post-lay-c zm-single-post clearfix">
                                                <div class="zm-post-thumb f-left">
                                                    <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">
                                                        <img src="{{ asset('images/news/' ~ item.image) }}" alt="{{ item.title }}">
                                                    </a>
                                                </div>
                                                <div class="zm-post-dis f-right">
                                                    <div class="zm-post-header">
                                                        <div class="zm-category">
                                                            <a href="{{ path('news_category_page', {'category': item.getIdCategory().getId() ~ '-' ~item.getIdCategory().getAlias() }) }}" class="bg-cat-5 cat-btn">
                                                                {{ item.getIdCategory().getName() }}
                                                            </a>
                                                        </div>
                                                        <h2 class="zm-post-title">
                                                            <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">{{ item.title }}</a>
                                                        </h2>
                                                        <div class="zm-post-meta">
                                                            <ul>
                                                                <li class="s-meta">Views: {{ item.views }}</li>
                                                                <li class="s-meta">{{ item.getDatePublish()|date("d.m.Y") }}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="zm-post-content">
                                                            <p>{{ item.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End left side -->
                        <!-- Start Right sidebar -->

                        {% if most_popular is not empty %}

                            <!-- Start Right sidebar -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 sidebar-warp columns">
                                <div class="row">
                                    <!-- Start post layout E -->
                                    <aside class="zm-post-lay-e-area col-xs-12 col-sm-6 col-md-6 col-lg-12 hidden-md">
                                        <div class="row mb-40">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="section-title">
                                                    <h2 class="h6 header-color inline-block uppercase">Most Popular</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="zm-posts">

                                                    {% for item in most_popular %}
                                                    <!-- Start single post layout E -->
                                                    <article class="zm-post-lay-e zm-single-post hidden-sm hidden-md clearfix">
                                                        <div class="zm-post-thumb f-left">
                                                            <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">
                                                                <img src="{{ asset('images/news/' ~ item.image) }}" alt="{{ item.title }}">
                                                            </a>
                                                        </div>
                                                        <div class="zm-post-dis f-right">
                                                            <div class="zm-post-header">
                                                                <h2 class="zm-post-title">
                                                                    <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">{{ item.title }}</a>
                                                                </h2>
                                                                <div class="zm-post-meta">
                                                                    <ul>
                                                                        <li class="s-meta">Views: {{ item.views }}</li>
                                                                        <li class="s-meta">{{ item.getDatePublish()|date("d.m.Y") }}</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <!-- Start single post layout E -->
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                    <!-- Start post layout E -->
                                </div>
                            </div>
                            <!-- End Right sidebar -->
                        {% endif %}

                        <!-- End Right sidebar -->
                    </div>
                    <!-- Start pagination area -->
                    <div class="row hidden-xs">
                        <div class="zm-pagination-wrap mt-70">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <nav class="zm-pagination ptb-40 text-center">
                                            <a href="{{ path('news_page') ~ '?page=2' }}" class="show-more">Show more</a>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End pagination area -->
                </div>
            </div>
    </section>

{% endblock %}