{% extends 'layouts/public.html.twig' %}

{% block content %}

    <!-- Start page content -->
    <div id="page-content" class="page-wrapper">
        <div class="zm-section single-post-wrap bg-white ptb-70 xs-pt-30">
            <div class="container">
                <div class="row">
                    <!-- Start left side -->
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 columns">

                        <div class="row">
                            <!-- Start single post image formate-->
                            <div class="col-md-12">
                                <article class="zm-post-lay-single">
                                    <div class="zm-post-thumb">
                                        <img src="{{ asset('images/news/' ~ record.image) }}" alt="{{ record.title }}">
                                    </div>
                                    <div class="zm-post-dis">
                                        <div class="zm-post-header">
                                            <h2 class="zm-post-title h2">{{ record.title }}</h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta">Views: {{ record.views }}</li>
                                                    <li class="s-meta">{{ record.getDatePublish()|date("d.m.Y") }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="zm-post-content">
                                            {{ record.content | raw }}
                                        </div>


                                    </div>
                                </article>
                            </div>

                            {% if can_be_interesting is not empty %}

                                <!--Start Similar post -->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ptb-40 mtb-40 border-top">
                                    <aside class="zm-post-lay-a2-area">
                                        <div class="post-title mb-40">
                                            <h2 class="h6 inline-block">Can be interesting</h2>
                                        </div>
                                        <div class="row">
                                            <div class="zm-posts clearfix">
                                                {% for item in can_be_interesting %}
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                                        <article class="zm-post-lay-a2">
                                                            <div class="zm-post-thumb">
                                                                <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">
                                                                    <img src="{{ asset('images/news/' ~ item.image) }}" alt="{{ item.title }}">
                                                                </a>
                                                            </div>
                                                            <div class="zm-post-dis">
                                                                <div class="zm-post-header">
                                                                    <h2 class="zm-post-title h2">
                                                                        <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">{{ item.title }}</a>
                                                                    </h2>
                                                                    <div class="zm-post-meta">
                                                                        <ul>
                                                                            <li class="s-meta">Views: {{ item.views }}</li>
                                                                            <li class="s-meta">{{ item.date_publish | date("d.m.Y") }}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </aside>
                                </div>
                                <!-- End similar post -->
                            {% endif %}

                        </div>
                    </div>
                    <!-- End left side -->


                    {% if most_popular is not empty %}

                        <!-- Start Right sidebar -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 sidebar-warp columns">
                            <div class="row">
                                <!-- Start post layout E -->
                                <aside class="zm-post-lay-e-area col-xs-12 col-sm-6 col-md-6 col-lg-12 hidden-md">
                                    <div class="row mb-40">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="section-title">
                                                <h2 class="h6 header-color inline-block uppercase">Most Popular</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="zm-posts">

                                                {% for item in most_popular %}
                                                <!-- Start single post layout E -->
                                                <article class="zm-post-lay-e zm-single-post hidden-sm hidden-md clearfix">
                                                    <div class="zm-post-thumb f-left">
                                                        <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">
                                                            <img src="{{ asset('images/news/' ~ item.image) }}" alt="{{ item.title }}">
                                                        </a>
                                                    </div>
                                                    <div class="zm-post-dis f-right">
                                                        <div class="zm-post-header">
                                                            <h2 class="zm-post-title">
                                                                <a href="{{ path('news_details_page', {'slug': item.id ~ '-' ~ item.alias}) }}">{{ item.title }}</a>
                                                            </h2>
                                                            <div class="zm-post-meta">
                                                                <ul>
                                                                    <li class="s-meta">Views: {{ item.views }}</li>
                                                                    <li class="s-meta">{{ item.getDatePublish()|date("d.m.Y") }}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                                <!-- Start single post layout E -->
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                <!-- Start post layout E -->
                            </div>
                        </div>
                        <!-- End Right sidebar -->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- End page content -->

{% endblock %}