{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 1015.13px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Profile</h1>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Profile data</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(profile, {'attr': {'id': 'users-form'}}) }}

                            <div class="card-body">
                                <div class="form-group">
                                    {{ form_label(profile.name) }}
                                    {{ form_widget(profile.name, {'attr': {'class': 'form-control validate[required,minSize[3],maxSize[50]]', 'placeholder': 'Name:'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(profile.surname) }}
                                    {{ form_widget(profile.surname, {'attr': {'class': 'form-control validate[required,minSize[3],maxSize[50]]', 'placeholder': 'Surname:'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(profile.login) }}
                                    {{ form_widget(profile.login, {'attr': {'class': 'form-control validate[required,minSize[3],maxSize[50]]', 'placeholder': 'Login:'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(profile.email) }}
                                    {{ form_widget(profile.email, {'attr': {'class': 'form-control validate[required,custom[email]]', 'placeholder': 'Email:'}}) }}
                                </div>

                                <div class="form-group">
                                    <label for="user-avatar">Avatar</label>
                                    <input type="file" class="form-control" id="user-avatar">
                                </div>

                                <div id="old-avatar">
                                    {% if user.avatar is defined and user.avatar is not empty %}
                                        <img src="{{asset('images/users/' ~ user.avatar)}}" alt="User avatar">
                                    {% else %}
                                        <img src="{{asset('images/no_avatar.png')}}" alt="User avatar">
                                    {% endif %}
                                </div>

                                <div id="avatar-cropper"></div>
                                {{ form_widget(profile.avatar) }}

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                {{ form_row(profile.submit) }}
                            </div>
                        {{ form_end(profile) }}

                    </div>
                    <!-- /.card -->

                </div>

                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Change password</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(changePassword, {'attr': {'id': 'change-password'}}) }}
                            <div class="card-body">
                                <div class="form-group">
                                    {{ form_label(changePassword.old_password) }}
                                    {{ form_widget(changePassword.old_password, {'attr': {'class': 'form-control  validate[required,minSize[3]]', 'placeholder': 'Old password:', 'autocomplete': 'off'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(changePassword.password) }}
                                    {{ form_widget(changePassword.password, {'attr': {'class': 'form-control validate[required,minSize[3],maxSize[50]]', 'placeholder': 'Password:', 'autocomplete': 'off'}}) }}
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                {{ form_row(changePassword.change) }}
                            </div>
                        {{ form_end(changePassword) }}
                    </div>
                    <!-- /.card -->

                </div>

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <script>
        $(document).ready(function() {

            var validation = $("#users-form").validationEngine('attach',{promptPosition : "bottomLeft", maxErrorsPerField: 1, validateNonVisibleFields: true, updatePromptsPosition:true});
            var validationPassword = $("#change-password").validationEngine('attach',{promptPosition : "bottomLeft", maxErrorsPerField: 1, validateNonVisibleFields: true, updatePromptsPosition:true});
            var croppie;

            //Init croppie
            $('#user-avatar').on('change', function(){

                var allowExtansion = ['image/jpeg', 'image/jpg', 'image/png'];
                if (!allowExtansion.includes(this.files[0].type)) {
                    sweetalert('error', 'Oops...', 'The file extension is incorrect');
                    $('#user-avatar').val('');
                    return false;
                }

                if (typeof croppie != "undefined" && croppie != null) {
                    $('#avatar-cropper').croppie('destroy');
                }

                $('#old-avatar').hide();

                croppie = $('#avatar-cropper').croppie({
                    enableExif: true,

                    viewport: {
                        width: 250,
                        height: 250,
                        type: 'square'
                    },
                    boundary: {
                        width: 300,
                        height: 300
                    }
                });

                if (this.files && this.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        croppie.croppie('bind', {
                            url: e.target.result
                        }).then(function(){});
                    }

                    reader.readAsDataURL(this.files[0]);
                    $('.js-confirm-crop').prop("disabled", false);
                }
            });

            //submit event profali data form
            $('#users-form').on('submit', function (e) {
                e.preventDefault();

                if (typeof croppie != 'undefined' && typeof croppie != null) {
                    croppie.croppie('result', {
                        type: 'base64',
                        size: 'viewport',
                        format: 'jpeg',
                        quality: 0.8,
                        backgroundColor: "#fff"

                    }).then(function (resp){
                        $('#user_profile_avatar').val(resp);
                        profileDataAjax();
                    });

                } else {
                    profileDataAjax();
                }
            });

            //function for send profile data Ajax
            function profileDataAjax() {
                if (!validation.validationEngine('validate')) {
                    return false;
                }

                $.ajax({
                    url :$('#users-form').attr('action'),
                    type : 'POST',
                    dataType : 'JSON',
                    data : $('#users-form').serialize(),
                    success : function(response){
                        sweetalert('success', 'Success', response.message);

                    },
                    error: function (error) {
                        onSaveRequestError(error);
                    }
                });
            }

            $('#change-password').on('submit', function (e) {
                e.preventDefault();

                if (!validationPassword.validationEngine('validate')) {
                    return false;
                }

                $.ajax({
                    url :$('#change-password').attr('action'),
                    type : 'POST',
                    dataType : 'JSON',
                    data : $('#change-password').serialize(),
                    success : function(response) {
                        if (response.status == 'success') {
                            sweetalert(response.status, 'Success', response.message);

                        } else if (response.status == 'error') {
                            sweetalert(response.status, 'Error', response.message);
                        } 

                        $('#change-password')[0].reset();
                    }
                });
            })
        });

    </script>

{% endblock %}
