<button type="button" class="btn btn-danger confirm" data-text="Do you want delete this record?" data-url="{{ path('contact_delete', {'contact': id}) }}">
    <i class="fas fa-trash-alt"></i> Delete
</button>