<input class="change-flag" id="must-read-{{id}}" data-url="{{ path('contact_is_viewed', {'contact': id}) }}" type="checkbox" {{viewed ? "checked" : ""}}>
<label class="switch-color" for="must-read-{{id}}"></label>