<a href="{{ path('news_update', {'news': id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
<button type="button" class="btn btn-danger confirm" data-text="Do you want delete this news?" data-url="{{ path('news_delete', {'news': id}) }}"><i class="fas fa-trash-alt"></i> Delete</button>