<input class="change-flag" id="must-read-{{id}}" data-url="{{ path('news_is_must_read', {'news': id}) }}" type="checkbox" {{isMustRead ? "checked" : ""}}>
<label class="switch-color" for="must-read-{{id}}"></label>