<input class="change-flag" id="published-{{id}}" data-url="{{ path('news_is_published', {'news': id}) }}" type="checkbox" {{isPublished ? "checked" : ""}}>
<label class="switch-color" for="published-{{id}}"></label>