{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <script src="{{asset('plugins/tinymce/tinymce.min.js')}}"></script>

    <div class="content-wrapper" style="min-height: 1015.13px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>News</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Add news</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            {{ form_start(form, {'attr': {'id': 'news-form'}}) }}

                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form_label(form.title) }}
                                        {{ form_widget(form.title, {'attr': {'class': 'form-control validate[required]', 'placeholder': 'Title:'}}) }}

                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.description) }}
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control validate[required]', 'placeholder': 'Description:'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.id_category) }}
                                        {{ form_widget(form.id_category, {'attr': {'class': 'form-control validate[required]', 'placeholder': 'Category:'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.date_publish) }}
                                        {{ form_widget(form.date_publish, {'attr': {'class': 'form-control validate[required]', 'placeholder': 'Category:'}}) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.content) }}
                                        {{ form_widget(form.content, {'attr': {'class': 'form-control validate[required]', 'placeholder': 'Content:'}}) }}
                                    </div>


                                    <div class="form-group">
                                        {{ form_label(form.image) }}
                                        {{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Image:'}}) }}
                                    </div>

                                    {% if news.image is defined and news.image is not empty %}
                                        <div class="form-group">
                                            <img src="{{asset('images/news/' ~ news.image)}}" width="200px">
                                        </div>
                                    {% endif %}

                                    <div class="form-group">
                                        {{ form_label(form.is_published) }}
                                        {{ form_widget(form.is_published) }}
                                        <label class="switch-color" for="news_is_published"></label>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.is_must_read) }}
                                        {{ form_widget(form.is_must_read) }}
                                        <label class="switch-color" for="news_is_must_read"></label>
                                    </div>
                                    
                                </div>

                                <div class="card-footer">
                                    {{ form_row(form.submit) }}
                                </div>
                            {{ form_end(form) }}
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </section>
        <!-- /.content -->
    </div>

    <script>
        $(document).ready(function() {
            tinymce.init({
                selector: '#news_content',
                entity_encoding: 'raw',
                menubar: false,
                branding: false,
                height: 500,
                max_height: 700,
                min_height: 500,
                plugins: [
                    'autolink autoresize fullscreen link lists paste',
                ],
                toolbar: 'undo redo | bold italic | underline strikethrough | bullist numlist | link | fullscreen',

                link_assume_external_targets: true,
                relative_urls: false,
                image_advtab: true ,
                remove_script_host: false,
                force_br_newlines: false,
                force_p_newlines: false,
                forced_root_block: "",
                extended_valid_elements: "br",
                verify_html: false,
                valid_children: "br",
                paste_as_text: true,

            });

            $("#news-form").validationEngine('attach',{promptPosition : "bottomLeft", maxErrorsPerField: 1, validateNonVisibleFields: true, updatePromptsPosition:true});
        });

    </script>


{% endblock %}