<div class="card card-primary modal-form" style="padding: 0!important; width: 400px">
    <div class="card-header" style="border-radius: 0!important;">
        <h3 class="card-title">Add category</h3>
    </div>

    {{ form_start(form, {'attr': {'id': 'category-form'}}) }}
        <div class="card-body">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name:'}}) }}
            </div>

            <div class="card-footer">
                {{ form_row(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>


<script>
    var validation = $("#category-form").validationEngine('attach',{promptPosition : "bottomLeft", maxErrorsPerField: 1});

    $('#category-form').on('submit', function (e) {
        e.preventDefault();
        if(!validation.validationEngine('validate')){
            return false;
        }

        $.ajax({
            url : $(this).attr('action'),
            type : 'POST',
            dataType : 'JSON',
            data : $(this).serialize(),
            success : function(response){
                sweetalert('success', 'Success', response.message);
                $.fancybox.close();
                dt.draw(false);
            },
            error: function (error) {
                // onSaveRequestError(error);
            }
        });
    });

</script>
