<a data-fancybox data-type="ajax" data-src="{{ path('category_edit', {'category': id}) }}" href="javascript:;" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
<button type="button" class="btn btn-danger confirm" data-text="Do you want delete this category?" data-url="{{ path('category_delete', {'category': id}) }}"><i class="fas fa-trash-alt"></i> Delete</button>