{% if pageCount > 1 %}
    <ul class="page-numbers">
        {% if previous is defined %}
            <li class="prev page-numbers">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" rel="prev">Previous</a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-numbers">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>

            {% else %}
                <li>
                    <span class="page-numbers current">{{ page }}</span>
                </li>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <li class="next page-numbers"><a href="{{ path(route, query|merge({(pageParameterName): next})) }}" rel="next">Next</a></li>
        {% endif %}
    </ul>

{% endif %}
